.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myBtn {
  padding: 0.375em 1.25em;
  background-color: rgb(223, 216, 216);
  border-radius: 5px;
  color: #14b8a6;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
